.carousel{

    max-width: 900px;
  z-index: 1;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
}
.carousel-indicators{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 20%;
    margin-bottom: 1rem;
    margin-left: 20%;
  }

.carousel-inner{
    position:relative;
    width: 100%;
    overflow: hidden;

}
.carousel-item{
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    transition: transform .4s ease-in-out;
  }
  .d-block w-100 {
    width: 100% !important;
    object-fit: cover;
  }
  .carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
  }

  .card-group {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .card {
    flex: 50%;
    display: flex;
    flex-direction: column;
    width: 100px;
    margin: 20px;
    border-radius: 6px;
    
  }
  
  .card-img-top {
    width: 100%;
    height: 500px;
    object-fit: cover;
    
  
  }
  
  .card-body {
    padding: 0 1rem;
    text-align: center;
    flex-grow: 1;
  flex-shrink: 1;
  }
  
  .card-title {
    text-align: center;
    color: brown;
  font-size: clamp(0.7em, 2vw, 2em);
  margin-bottom: .2em;
  }
  
  .card-text{
    text-align: center;
    font-size: calc(3vw, .1em);
  }
  
  
  .text-body-secondary {  font-size: 1.5rem;
    margin-bottom: 25px;
    text-align: center;
  }
  @media screen and (max-width: 500px) {
    .card-body {
      flex-direction: column;
    }
  }
  @keyframes animación {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
  
    100% {
      box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
  }
  