@mixin anclas{
    text-decoration: none;
    color:black;
}


.logo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
img{
    height: 70px;
    margin-right: 10px;
}

header{
    background-color: $color-bisque;
    padding: 10px;
}
h1{
    font-family: 'Fahkwang', sans-serif;
    font-weight: lighter;
    font-size: 2,5rem;
    color:$color-brown;
    flex-wrap: wrap;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
}
header nav ul li a{
    @include anclas;
}
   
header nav ul li a:hover {
    color: darkred;
  }
  

 
  
