main div h2 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 1, 5rem;
  font-style: italic;
  margin-top: 25px;
}
ul li {
  list-style-type: none;
  text-align: center;
  background-color: #eecbbe;
}
h2 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  font-style: italic;
  font-weight: lighter;
  margin-top: 25px;
}
html iframe {
  justify-content: center;
}
.whatsapp {
  display: none;
  display: block;
  position: fixed;
  right: 5px;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
}
.deco img {
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 10px;
}
p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-style: italic;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  line-height: 2rem;
  padding-left: 25px;
  padding-right: 25px;
}
.texto {
  height: 220px;
  width: 400px;
  margin: 2rem auto;
}
