/*Media querie*/
/*Mobile*/
@media only screen and (max-width: 500px) {
    body {
      background-color: beige;
    }
  }
  
  /*Desktop*/
  @media only screen and (min-width: 961px) {
    body {
      background-color: white;
    }
  }
  